<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>236444313942-gt4ho9apujamaj5vrfvfhaj6550rtg2e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236444313942-gt4ho9apujamaj5vrfvfhaj6550rtg2e</string>
	<key>API_KEY</key>
	<string>AIzaSyCG2KGk5DlTCLrFCVe21-B1QnVyD1IFta0</string>
	<key>GCM_SENDER_ID</key>
	<string>236444313942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FrostEnterprises.FirebaseTestAppYoutubeTutorial</string>
	<key>PROJECT_ID</key>
	<string>youtubefirebasetutorial-9aa7e</string>
	<key>STORAGE_BUCKET</key>
	<string>youtubefirebasetutorial-9aa7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:236444313942:ios:4c2de93b2fedc9bd</string>
	<key>DATABASE_URL</key>
	<string>https://youtubefirebasetutorial-9aa7e.firebaseio.com</string>
</dict>
</plist>